*/HELP.md
*/target/
!*/.mvn/wrapper/maven-wrapper.jar
*/target/
*/src/main/resources/application.properties


*/npm-debug.log*
*/yarn-debug.log*
*/pnpm-debug.log*
*/pnpm-lock.yaml
*/package-lock.json
*/node_modules/
*/dist/

*/.idea/
*/build/
*/.project/
*/.vscode/
*/.mvn/

*/*.iws
*/*.iml
*/*.ipr
*/logs
*/*.log